
.dashboardcontainer{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    vertical-align: middle;
}

/* sidebar */
.adminkitcontainer{
    width:22%;
    background-color: #222e3c;
    color:white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position:fixed;
    padding:2%;
    padding-left: 0;
}
.hideadminkitcontainer{
    display: none;
    width:0%;
    background-color: #222e3c;
    color:white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.adminkitcontainer h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.adminkitcontainer ul{
    list-style-type: none;
}
.adminkitcontainer ul li{
    display:flex;
    justify-content:left;
    align-items: center;
}
.adminkitcontainer ul li h3{
    margin-left:15px;
}
.svg{
    width: 30px;
    height:30px;
}
.link{
    text-decoration: none;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* dashboard */
.maindashboard{
    width: 76%;
    overflow-x: hidden;
    vertical-align: middle;
    padding-top:15px;
    height:100%;
    margin-left: 25%;
}
.fulldashboard{
    width: 100%;
    overflow-x: hidden;
    vertical-align: middle;
    padding-top:15px;
    height:100%;
    margin-left: 0;
}

/* header of dashboard */
.headercontainer{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
} 
.menuicon{
    color:#222e3c;
    margin:0 10px;
}
.headerbadge{
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification{
    color:gray;
    margin:0 10px;
}
.chaticon{
    color:gray;
}
.searchinput{
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f7f7fc;
}
.search{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:darkgray
}
.search div{
    background-color:#f7f7fc ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
}

hr{
    margin-bottom: 0;
}
/* main */
/* part1ofmain */
main{
    background-color: #f7f7fc;
    margin-right:20px;
    padding:10px;
}
.part1ofmain{
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
}
.profileimage{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin:0 5px;
}