.profilelogo{
    width:200px;
    height:200px;
    border-radius: 50%;
}
.profilecontent{
    display: flex;
    justify-content: space-around;
}
.profileheader{
    display:flex;
    padding:20px;
    justify-content: space-between;
    align-items: center;
}
.profileheader div{
    display: flex;
    align-items: center;
}
.svg{
    width: 30px;
    height:30px;
    margin-left:3px;
}
.userdata{
    outline:none;
    border:none;
    background-color: white;
    border-radius: 0;
    width:auto;
    margin: 5px;
    font-size: large;
    font-weight: bold;
}
.inputcontainer{
    display: flex;
    flex-direction: column;
    width:35%;
    padding: 0 10px;
}
.gendercontainer{
    display: flex;
}
.gender{
    margin:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gendercontainer:first-child{
    margin-left:0;
}
.profiledatacontainer{
    display: flex;
}
.profiledatacontainer span{
    width:100px;
}
.profiledatacontainer input{
    width:200px;
    font-weight: lighter;
}
.profiledata{
    border-bottom: 1px solid grey;
    outline:none;
    width:auto;
}
.gendersvg{
    width: 60px;
    height:60px;
    margin-left:5px;
}
.gender:hover{
    transform: scale(1.1);
}
.gender >div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectedgender{
    border:2px solid gray;
    width: 60px;
    height:60px;
    margin-left:5px;
    padding:3px;
    border-radius: 5px;
    background-color: whitesmoke;
    transform: scale(1.1);
}
.updatebtn {
    height: 40px;
    width:auto;
    background-image: linear-gradient(
      109.6deg,
      rgba(250, 165, 147, 1) 11.2%,
      rgba(250, 149, 71, 1) 91.1%
    );
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    outline: none;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
  }
  .updatebtn:hover {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(3, 235, 255, 1) 0%,
      rgba(152, 70, 242, 1) 100.2%
    );
  }